**/target/
.idea
*.iml
*.class
*Test.java
**/test/
# Backend Spring Boot
backend/target/
backend/.idea/
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.log
backend/logs/
backend/.settings/
backend/.classpath
backend/.project
